//** This is a pug template to page not found.

doctype html
html 
    head 
        title= 'Not Found | Integrating With HubSpot I Practicum'
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
      h1 Page not Found 
      h5
       a(href=baseURI) Please redirect to home page