doctype html
html 
    head 
        title= `Error`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
        link(rel="icon", type="image/x-icon" href="/favicon.ico")
    body    
        p An error occured. Refresh the page to try again.
        a(href="/") Return to the homepage