doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Games
        table
            tr
                th Name
                th Publisher 
                th Rating 
                th Edit 
            each game in data
                tr 
                    td #{game.properties.name}
                    td #{game.properties.publisher}
                    td #{game.properties.rating}
                    td 
                        a(href="/update-cobj?id="+game.id) Update