doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Cars 
        .cards 
            each car  in data
                .card 
                    h2.card__name #{car.properties.car_type}  #{car.properties.name}
                    p.card__email #{car.properties.milage}
                    p.p something