doctype html
html(lang="en")
    head
        title Daniel Chaves' Practicum Private App
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 Custom Object Table
        a(style='margin: 1rem;', href=url) Add to this table
        div
        if customObjectsData && customObjectsData.length > 0
            table
                thead
                    tr
                        th Name
                        th Short Address
                        th Street Number
                tbody
                    each obj in customObjectsData
                        tr
                            td= obj.name
                            td= obj.short_address
                            td= obj.street_number
        else
            p No data available.