html
     head 
         meta(name="viewport" content="width=device-width, initial-scale=1")
         link(rel="stylesheet", href="/css/style.css")
     body    
         h1 Custom object table
         a(href="/update-cobj") Add/Update this table
         table(style='width:80%;margin:2%', border='1')
                tr 
                    th Name 
                    th class 
                    th age
                each pet in data
                    tr 
                        td #{pet.properties.name}  
                        td #{pet.properties.class}
                        td #{pet.properties.age}