doctype html
html(lang="en")
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body   
        h1 Custom Object Table
        a(href='/update-cobj') Add/Update this table
        table
            tr 
                th Songname
                th Artist
                th Album
            each song in data.results
                tr 
                    td #{song.properties.name}
                    td #{song.properties.artist}
                    td #{song.properties.album}