doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 Table of Animals in Hubspot
        p 
        a(href="/update-cobj") Create a new Animal in Hubspot
        p 
        table
            tr
                th Name 
                th Bio 
                th Type
            each animal in animals 
                tr 
                    td #{animal.name}  
                    td #{animal.bio}  
                    td #{animal.type}                    