html
  head
    title Homepage
    style.
      table {
        width: 50%;
        display:flex;
        align-items:center;
      }
      
      th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
      }
      
      th {
        background-color: #eb8d8d;
      }
      a {
        text-decoration:none;
      }
      a:hover {
        text-decoration: underline;
      }
  body
    h1 Custom Object Table
    a(href="/update-cobj") Add/Update this table
    table
      tr
        th NAME
        th DESCRIPTION
        th PRICE
      each contact in data
        tr
          td= contact.properties.name
          td= contact.properties.description
          td= contact.properties.price
