
doctype html
html 
    head 
        title= 'Homepage | Integrating With HubSpot I Practicum'
      
    body    
     a(href='/update-cobj') //update this table
//-         .cards 
//-             each contact in data
//-                 .card 
//-                     h2.card__name #{contact.properties.partner_name}  #{contact.properties.partner_type}
//-                     p.card__email #{contact.properties.account_number}