doctype html  
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=`${title}`
        link(rel="stylesheet", href="/css/style.css")
    body
     a(href="/update-cobj") Add/Update

     h1 Characters Table
     table(border='1')
        tr
            th Character Name
            th Also Known As 
            th Clan
        each character in charactersList
            tr
                td #{character.properties.character_name}
                td #{character.properties.also_known_as} 
                td #{character.properties.clan} 