
doctype html
html 
    head 
        title= 'Homepage | Integrating With HubSpot I Practicum'
      
    body    
        a(href='/update-cobj') Update this table
        h1 Partners
        table
            thead
                tr
                    th Partner Name
                    th Partner Type
                    th Account Number 
            tbody
                each obj in customObjects
                    tr 
                        td= JSON.stringify(obj)
                        td= obj.properties.hs_object_id
                        td= obj.id