doctype html 
html(lang="en")
    head 
        title=title
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 #{title  || 'Custom Objects'}
        .cards 
            each customObj in data.results
                .card 
                    h2.card__name Primary Display Property:  #{customObj.primaryDisplayProperty}
                    ol.card_email Secondary Display Properties:
                    each prop in customObj.secondaryDisplayProperties
                        li #{prop}
                       
        
        
        