//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
       h1= `${title}`
-       var list = ["Uno", "Dos", "Tres", "Cuatro", "Cinco", "Seis"]
       .cards
         each pet in data
            .card 
                 h2.card__name  #{pet.properties.pet_name}
                 p.card__type   #{pet.properties.pet_type__v2_}