doctype html
html
  head
    title Vehicle Records
    // Include Flat UI CSS here
    link(rel='stylesheet', href='css/style.css', type="text/css")
  body
    header
      h1 Vehicle Records

    table
      thead
        tr
          th Registration Number
          th Vehicle Name
          th Vehicle Brand
          th Vehicle Type
          th Actions
      tbody
        each vehicle in vehicles
          tr
            td #{vehicle.properties.registration_number}
            td #{vehicle.properties.name}
            td #{vehicle.properties.brand}
            td #{vehicle.properties.type}
            td
              button.edit-button(onclick='editRow(this)') Update

script.
  function editRow(button) {
    var row = button.parentNode.parentNode;
    var cells = row.getElementsByTagName('td');
    for(var i = 0; i < cells.length - 1; i++) {
      var value = cells[i].innerText;
      cells[i].innerHTML = '<input type="text" value="' + value + '">';
    }
    button.innerText = 'Save';
    button.onclick = function() { saveRow(this); };
  }

  function saveRow(button) {
    // Logic to save the row data
    // Change button text back to 'Update' and bind the original editRow function
  }
