doctype html
html(lang="en")
    head
        title Update Custom Object Form | Integrating With HubSpot I Practicum
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 Create Custom Object Form | Integrating With HubSpot I Practicum.
        .form-wrapper
            form(method="POST")
                label(for="newName") Name
                input(type="text" name="newName" )
                label(for="newName") Power
                input(type="text" name="newPower" )
                label(for="newName") Strength
                input(type="text" name="newStrength" )
                label(for="newName") Weakness
                input(type="text" name="newWeakness" )
                input(type="submit" value="Submit")

        a(href='/') Return to homepage