doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body  
        a(href="/") Return to the homepage
        input(type="text" name="name" id="name")
        input(type="text" name="scientific_name" id="scientific_name")
        input(type="date" name="acquired_date" id="acquired_date")
        input(type="number" name="age" id="age")
        button(type="submit")