
doctype html
html 
    head 
        title= `Update Custom Object Form | Integrating With HubSpot I Practicum`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Update Custom Object Form - Integrating With HubSpot I Practicum
        p
            a(href='/') back to home page