doctype html
html(lang="en")
    head
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1= `${title}`
        div
            form(action='/update-cobj' method='post')
                input(type='text' name='name' placeholder='Real Estate Name')
                input(type='text' name='short_address' placeholder='Real Estate Address')
                input(type='text' name='street_number' placeholder='Real Estate Street Number')
                button(type='submit') Submit
            p(style='padding-left: 15px;') Return to the #[a(href=`${url}`) homepage]