doctype html
head
  title New Partner Form
    body
    a(href='/') Return to the homepage
    
  script(type='text/javascript').
    if (foo) bar(1 + 5)
script(charset='utf-8' type='text/javascript' src='//js.hsforms.net/forms/embed/v2.js')
script.
  hbspt.forms.create({
  region: "na1",
  portalId: "43523241",
  formId: "0e1fc7b9-5b8e-4efc-bc18-8e17cfc40a97"
  });
