doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body  
        a(href="/") Return to the homepage
        form(action="/add" class="form-wrapper") 
            label Name
            input(type="text" name="name" id="name")
            label Scientific Name
            input(type="text" name="scientific_name" id="scientific_name")
            label Ascquired Date
            input(type="date" name="acquired_date" id="acquired_date")
            label Age
            input(type="number" name="age" id="age")
            button(type="submit") Add Plant