doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 `${mode}` Pet
        .form-wrapper
            form(action='/update-cobj' method='POST')
                div
                    label(for='name') Name*:
                    input(type='text' name='name' id='name' required) 
                div
                    label(for='age') Age:
                    input(type='number' name='age' id='age') 
                div
                    label(for='type') Type:
                    input(type='text' name='type' id='type')
                div
                    input(type="submit", value="Save Pet")
        .center
            a(href='/') Go Home