doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Create or Update Company
        .form-wrapper
            form(action="/update-cobj" method="POST")
                label(for="name") Company Name:
                input(type="text" id="name" name="name" required)

                label(for="domain") Domain:
                input(type="text" id="domain" name="domain" required)

                label(for="industry") Industry:
                select(id="industry" name="industry" required)
                    option(value="ACCOUNTING") ACCOUNTING
                    option(value="AIRLINES_AVIATION") AIRLINES_AVIATION
                    option(value="ALTERNATIVE_DISPUTE_RESOLUTION") ALTERNATIVE_DISPUTE_RESOLUTION
                    option(value="COMPUTER_SOFTWARE") COMPUTER_SOFTWARE
                    option(value="CONSUMER_ELECTRONICS") CONSUMER_ELECTRONICS
                    

                label(for="phone") Phone:
                input(type="text" id="phone" name="phone" required)

                button(type="submit") Submit
