html
  head
    title Update Custom Object
  body
    h1 Update Custom Object
    form(action="/update-cobj" method="POST")
      label(for="property1") Property 1:
      input(type="text" name="property1")
      br
      label(for="property2") Property 2:
      input(type="text" name="property2")
      br
      label(for="property3") Property 3:
      input(type="text" name="property3")
      br
      input(type="submit" value="Submit")
    a(href="/") Return to the homepage