doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="/css/style.css")
    body  
        a(href="/") Return to the homepage
        form(method="POST" class="form-wrapper") 
            label(for="name") Name
            input(type="text" name="name" id="name")
            label(for="scientific_name") Scientific Name
            input(type="text" name="scientific_name" id="scientific_name")
            label(for="age") Age
            input(type="number" name="age" id="age")
            button(type="submit" value="Submit") Add Plant