doctype html  
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= `${title}`
        link(rel="stylesheet", href="/css/style.css")
    body
     a(href="/") Return to the homepage
     h1 Add new Vampire the Masquerade Character 
     form(method="POST")
                label(for="character_name") Character name
                input(type="text" name="character_name" required)
                label(for="nickname") Also know as
                input(type="text" name="nickname" required)
                label(for="clan") Clan
                input(type="text" name="clan" required)
                input(type="submit" value="Submit")