doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        a(href="/") Return to the homepage    
        .form-wrapper
            form(method="POST")
                label(for="name") Name:
                input(type="text" name="name" required)
                label(for="prop1") prop1:
                input(type="text" name="prop1" required)
                label(for="prop2") prop2:
                input(type="text" name="prop2" required)
                input(type="submit" value="Submit")