doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    h1= title
    a(href="/") Return to the homepage
    form(action="/update-cobj", method="post")
     label(for="name") id movie:
      input(type="text", name="id")
      label(for="name") Name:
      input(type="text", name="name")
      label(for="genres") Genres:
      input(type="text", name="genres")
      label(for="year") Year:
      input(type="text", name="year")
      input(type="submit", value="Crear objeto personalizado")
