doctype html
html(lang="en")
    head
        title Update Game Rating
        link(rel="stylesheet", href="/css/style.css")
    body
        a(href="/") Return to home page
        .form-wrapper
            form(method="POST")
                input(type="hidden" name="id" value=id)
                label(for="Name") Name
                input(type="text" placeholder="The name of the game" value=name name="name" required)
                label(for="publisher") Publisher
                input(type="text" placeholder="The game publisher" value=publisher name="publisher" required)
                label(for="rating") Rating
                input(type="number" placeholder="Your rating (out of 10)" value=rating name="rating" required min=0 max=10)
                input(type="submit" value="Submit")