html
  head
    title Update Custom Object Form | Integrating With HubSpot I Practicum
    style. 
        h1 {
            color:red;
            text-align:center;
        }
         form {
        margin: 20px auto;
        max-width: 400px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
      }
      label {
        display: block;
        margin-bottom: 8px;
        color: #666;
      }
      
      input[type="text"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      
      input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      a {
        display: inline-block;
        margin-top: 10px;
        color: #4CAF50;
        text-decoration: none;
      }
      
      a:hover {
        text-decoration: underline;
      }
  body
    h1 Update Custom Object Form | Integrating With HubSpot I Practicum
    a(href="/") Return to the homepage
  
    form(action="/update-cobj" method="POST")
      label(for="property1") Name:
      input(type="text" name="property1")
      br
      label(for="property2") Description:
      input(type="text" name="property2")
      br
      label(for="property3") Price:
      input(type="text" name="property3")
      br
      input(type="submit" value="Submit")
    