doctype html
html
  head
    title New Partner Form
  body
    a(href='/') Return to the homepage

    form(action='/update-cobj', method='POST')
      p
        | title: 
        input(name='partner_name', value='', type='text')
        |          year: 
        input(name='partner_type', value='', type='text')
        |          imdb: 
        input(name='account_number', value='', type='number')
      input(value='Submit', type='submit')