doctype html
html 
    head 
        title= `HubSpot Practicum: ${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
        link(rel="icon", type="image/x-icon" href="/favicon.ico")
    body    
        h1 Welcome!
        h2 Scooters in our inventory
        .cards 
            each scooter in scooters
                .card 
                    p.card__name #{scooter.properties.name} 
                    p.card__model #{scooter.properties.model}
                    p.card__speed Top speed: 
                        strong #{scooter.properties.top_speed}km/h