doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
        link(rel="icon", type="image/x-icon" href="/favicon.ico")
    body    
        h1 Welcome!
        a(href="/update-cobj") Add more items
        table(border='1')
            tr
                th Name
                th Model 
                th Top speed
                th Edit
            each scooter in scooters
                tr 
                    td #{scooter.properties.name}
                    td #{scooter.properties.model}
                    td #{scooter.properties.top_speed}
                    td 
                        a(href="/update-cobj") ✏️