@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, * {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 3rem;
}

.header {
    text-align: center;
}

form {
    margin: 2rem auto;
    padding: 2rem;
    border: solid 1px lightgrey;
    border-radius: 15px;
    box-shadow: 3px 2px 6px lightgrey;
    max-width: 300px;
}

label, input, select {
    margin-top: 5px;
    display: block;
    font-size: inherit;
    width: 100%;
}

.form-group {
    margin: .5rem 0;
}

label {
    flex-grow: 0;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: .375rem .75rem;
}

button[type="submit"] {
    background-color: lightgrey;
    border: none;
    padding: .7rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

