@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, * {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 10px;
    padding: 0;
}

.form-wrapper {
    max-width: 768px;
    /* margin: 2rem auto; */
    padding: 2rem;
    border: solid 1px lightgrey;
    border-radius: 15px;
    box-shadow: 3px 2px 6px lightgrey;
    border-color: #04AA6D;
}

.btnx {
    background-color: #199319;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}

select {
    width: 511px;
}

label, input {
    width: 500px;
}

label, input, select {
    margin-top: 1px;
    display: block;
    font-size: inherit;
}

input[type="text"], select {
    padding: .25rem;
}

.btn, input[type="submit"] {
    width: 100px;
    color: white;
    background-color: #04AA6D;
    border: none;
    padding: .375rem 1rem;
    margin-top: 30px;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    #width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
