@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, * {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    margin-bottom: 1rem;
}

label, input {
    margin-top: 5px;
    display: block;
    font-size: inherit;
}

input[type="text"],
input[type="number"] {
    padding: .25rem;
}

input[type="submit"] {
    background-color: lightgrey;
    border: none;
    padding: .375rem 1rem;
    margin-top: 10px;
}

form,
section {
    padding: 1rem;
}

table th {
    padding: 5px 10px;
    background-color: #d0d0d0;
}

table td {
    padding: 5px 10px;
    border: 1px solid #000000
}